.winners
	margin-top 100px
	text-align center
	&__caption
		margin-bottom 25px
	&__film
		margin-top 30px
	h4
		color red
		text-transform uppercase
		font 700 1.5rem ptSans
	&__poster
		margin-top 40px
		width 100%
	span
		color red
		display block
		font 700 1.25rem ptSans
		margin-top 30px
	p
		color #fff
		font 400 1.125rem ptSans
		
@media screen and (max-width: 480px)
	.winners
		margin-top 50px
		&__caption
			margin-bottom 15px

