section.winners#winners
	.container
		.row
			.col-12
				h3.winners__caption ПЕРЕМОЖЦІ
		.row.justify-content-between.flex-wrap
			.col-lg-6.col-xl-4
				.winners__film
					h4 Best Fashion Film
					a.winners__link(href="#" target="_blank")
						img.winners__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					span Моя найкраща колекція
					p Маша Бесхатченко
					p Gosha Rubchinskiy
			.col-lg-6.col-xl-4
				.winners__film
					h4 Best Fashion story 
					a.winners__link(href="#" target="_blank")
						img.winners__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					span Моя найкраща колекція
					p Маша Бесхатченко
					p Gosha Rubchinskiy
			.col-lg-6.col-xl-4
				.winners__film
					h4 Best production
					a.winners__link(href="#" target="_blank")
						img.winners__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					span Моя найкраща колекція
					p Маша Бесхатченко
					p Gosha Rubchinskiy
