icomoon-font-path ?= "fonts"

icon-left = "\e900"
icon-right = "\e901"
icon-location = "\e902"
icon-facebook-circle = "\e903"
icon-instagram-circle = "\e904"
icon-instagram = "\e905"
icon-close = "\e907"
icon-menu = "\e908"

