section.nominees#nominees
	.container
		.row.justify-content-center
			.col-12.col-sm-8.col-md-12
				h3.nominees__caption НОМІНАНТИ
		.row.justify-content-center.flex-wrap
			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy
			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy
			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy

			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy
			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy
			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy

			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy
			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy
			.col-12.col-sm-8.col-md-6.col-xl-4
				.nominees__item
					a.nominees__link(href="#" target="_blank")
						img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
						.nominees__wrap
							.nominees__description
								span Моя найкраща колекція
								p Маша Бесхатченко
								p Gosha Rubchinskiy