section.nominees#nominees
	.container
		h3.nominees__caption НОМІНАНТИ
		ul.nominees__list
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy
			li.nominees__item
				a.nominees__link(href="#" target="_blank")
					img.nominees__poster(src='images/alisa.jpg' alt='Моя найкраща колекція')
					.nominees__wrap
						.nominees__description
							span Моя найкраща колекція
							p Маша Бесхатченко
							p Gosha Rubchinskiy