section.about#about
	.container
		.row
			.col-4.col-lg-3
				svg(role='img')
					use(xlink:href='svg-symbols.svg#logo')
			.col-8.col-sm-7
				h2 
					| єдиний український кінофестиваль, присвячений 
					br
					|fashion-фільмам.
		.row
			.col-11
				p Ми вже звикли чути історії успіхів українських дизайнерів. Fashion-індустрія шукає нові обличчя та нестандартні рішення, що відповідатимуть викликам сучасності. І таку ж тенденцію демонструє українське кіновиробництво. А значить, прийшов час співпраці цих галузей. Наша головна мета – популяризувати жанр fashion-відео в Україні та сприяти виходу українських фільмів на міжнародний рівень. 
				p Організаторами фестивалю виступають FILM.UA Group та Ukrainian Fashion Week.
