section.program#program
	.container
		h3.program__caption Програма
		.program__table
			.program__row
				.program__location.program__location_pavilion
					p.program__header.program__header_pavilion павільон
					.program__event
						.program__time 12#[sup 00]
						.program__title  
							a(href="#")
					.program__event
						.program__time 14#[sup 00]
						.program__title 
							a(href="#") Презентація колекції від Syngman Cucala
					.program__event
						.program__time 16#[sup 00]
						.program__title 
							a(href="#") Презентація колекції від Katsurina
					.program__event
						.program__time 18#[sup 00]
						.program__title 
							a(href="#") Презентація колекції від Bobkova
					.program__event
						.program__time 20#[sup 00]
						.program__title
							a(href="#")
				.program__location.program__location_cinema
					p.program__header кінотеатр
					.program__event
						.program__time 12#[sup 00]
						.program__title  
							a(href="#") Показ кращих презентацій haute couture 2017 
					.program__event
						.program__time 14#[sup 00]
						.program__title 
							a(href="#") Показ кращих fashion фільмів 2016
					.program__event
						.program__time 16#[sup 00]
						.program__title 
							a(href="#") Показ кращих non-fashion фільмів 2018
					.program__event
						.program__time 18#[sup 00]
						.program__title 
							a(href="#") Показ кращих fashion фільмів 2018
					.program__event
						.program__time 20#[sup 00]
						.program__title
							a(href="#") Церемонія нагородження фестивалю 
				.program__location.program__location_openair
					p.program__header майданчик
					.program__event
						.program__time 12#[sup 00]
						.program__title  
							a(href="#") Майстер-клас з ілюстрації на тканинах
					.program__event
						.program__time 14#[sup 00]
						.program__title 
							a(href="#") Майстер-клас з викройки шуб
					.program__event
						.program__time 16#[sup 00]
						.program__title 
							a(href="#")
					.program__event
						.program__time 18#[sup 00]
						.program__title 
							a(href="#") Майстер-клас з вироблення аксесуарів
					.program__event
						.program__time 20#[sup 00]
						.program__title
							a(href="#")
		.row.justify-content-center
			a.program__button.button Купити квиток