.program
	margin-top 140px
	&__button
		min-width 218px
		height 50px
		margin-top 55px
	&__table
		display flex
		justify-content space-between
		margin-top 60px
	&__location_pavilion
		.program__time
			padding-right 126px
	&__location_cinema,
	&__location_openair
		.program__time
			display none
	&__header
		min-height 50px
	&__header.program__header_pavilion
		padding-left 200px
	&__event
		display flex
		min-height 90px
		vertical-align center
	p
		font 700 1.25rem ptSans
		color red
		text-transform uppercase
	&__time
		font 700 2.5rem ptSans
		color red
		sup
			font-size 1.5rem
	&__title
		font 400 1.125rem ptSans
		line-height 1.75rem
		color textColor
		max-width 240px
		&:hover
			font-weight 600

			
@media screen and (max-width: 992px)
	.program
		&__table
			flex-direction column
		&__location_cinema,
		&__location_openair,
		&__location_pavilion
			.program__time
				display block
				padding-right 22px
		&__header,
		&__header.program__header_pavilion
			padding 0
			text-align center

@media screen and (max-width: 768px)
	.program
		margin-top 50px
		&__table
			padding-left 20px
			padding-right 5px
		&__button
			margin-top 0
		&__event
			min-height 85px
			margin-bottom 5px


