section.home#home
	.home__banner
		.container
			.home__description
				.row
					.col-12
						h1
							|Fashion Film 
							br
							|Festival Kyiv
					.col-12
						p.home__date 19/05
					.col-12
						span кiностудiя
						p.home__studio FILM.UA
					.col-12
						ul.home__partners
							.home__filmgroup
								svg(role='img')
									use(xlink:href='svg-symbols.svg#fu')
							.home__ufw
								svg(role='img')
									use(xlink:href='svg-symbols.svg#ufw')
					.col-12
						a.home__button.button(href='http://fffkyiv.com/#') Купити квиток
	.home__sponsor
		.container-fluid
	