@import './header'
@import './home'
@import './about'
@import './jury'
@import './partners'
@import './contacts'
@import './footer'
// @import './checkbox'
// @import './form'
@import './button'
// @import './contact-form'
@import './icon'
