.gallery
	margin-top 95px
	&__slick
		width 100%
		height 675px
	&__img
		width 100%
		height 675px

@media screen and (max-width: 768px)
	.gallery
		.container
			padding-right 0
			padding-left 0
		.row
			margin-left 0
			margin-right 0
		.col-12
			padding-left 0
			padding-right 0
		

			
