section.gallery#gallery
	.container
		.row
			.col-12
				ul.gallery__slick
					li.gallery__item
						.gallery__img(style={background: 'url(images/concert.jpg) center no-repeat'})
					li.gallery__item
						.gallery__img(style={background: 'url(images/concert.jpg) center no-repeat'})
					li.gallery__item
						.gallery__img(style={background: 'url(images/concert.jpg) center no-repeat'})
					li.gallery__item
						.gallery__img(style={background: 'url(images/concert.jpg) center no-repeat'})
