.partners
	margin-top 110px
	&__wrap
		margin-top 60px
	&__org
		width 25%
		padding-top 60px
		padding-bottom 60px
		background-color #1e1e1e
	&__filmgroup
		margin-bottom 60px
	&__filmgroup,
	&__ufw
		svg
			width 193px
			height 112px
	&__brands
		display flex
		width 75%
		padding 30px 20px
		background-color #ebf0f1
	&__list
		width 100%
	&__item
		margin 0 24px
		img
			width 210px
			height 162px

@media screen and (max-width: 1200px)
	.partners
		&__item
			img
				width 170px
				height 122px
				
@media screen and (max-width: 992px)
	.partners
		&__filmgroup
			margin-bottom 0
		&__org,
		&__brands
			width 100%
		&__org
			padding 60px 0
			
@media screen and (max-width: 480px)
	.partners
		margin-top 60px
		&__wrap
			margin-top 50px
		&__filmgroup,
		&__ufw
			svg
				width 122px
				height 96px
		&__org
			padding 30px 0
		&__brands
			padding 0
		&__item
			margin 0 10px
