.partners
	margin-top 110px
	&__wrap
		margin-top 85px
	&__org
		width 25%
		background-color #1e1e1e
	&__filmgroup,
	&__ufw
		svg
			width 193px
			height 112px
	&__brands
		width 75%
		padding 30px 20px
		background-color #ebf0f1
	&__item
		margin 0 24px
		img
			width 140px
			height 108px

@media screen and (max-width: 992px)
	.partners
		&__org,
		&__brands
			width 100%
		&__org
			padding 60px 0
			
@media screen and (max-width: 480px)
	.partners
		margin-top 60px
		&__wrap
			margin-top 50px
		&__filmgroup,
		&__ufw
			svg
				width 122px
				height 96px
		&__org
			padding 30px 0
		&__brands
			padding 0
		&__item
			margin 0 10px
			img
				width 120px
				height 88px