@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,600,700|PT+Sans:400,700&subset=cyrillic')

@import 'icomoon/style'
@import 'icomoon/variables'

@font-face
   font-family Futura
   font-style normal
   src url(../fonts/futura.ttf)
   
@font-face
   font-family icomoon
   font-style normal
   src url(../fonts/icomoon.ttf)
   
@font-face
   font-family icomoon
   font-style normal
   src url(../fonts/icomoon.woff)
   
@font-face
   font-family icomoon
   font-style normal
   src url(../fonts/icomoon.eot)
