@import '../../../../node_modules/slick-carousel/slick/slick.css'
@import '../../../../node_modules/slick-carousel/slick/slick-theme.css'

.slick-prev,
.slick-next
	width 84px
	height 84px
	background-color red
	border-radius 50%
	z-index 1
	top 50%
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
	width 84px
	height 84px
	background-color red
	border-radius 50%
.slick-prev:before,
.slick-next:before
	font-family 'icomoon'
	color #fff
	font-size 2rem
.slick-next:before
	content '\e901'
.slick-prev:before
	content '\e900'
	
@media screen and (max-width: 768px)
	.slick-prev,
	.slick-next,
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus
		width 62px
		height 62px
		text-align center
	.slick-prev
		left 10px
	.slick-next
		right 10px
	.slick-prev:before
		padding-right 4px
	.slick-next:before
		padding-left 4px