section.footer#footer
	.container
		.row.jusctify-content-center.align-items-center
			.col-12
				p.footer__rights © Fashion Film Festival Kyiv, 2018
		.row
			.col-12
				span Made in
				a.footer__logo(href='http://fffkiev.com')
					img.footer__img(src='./images/oxwel_logo_v2.svg' alt='Oxwel logo')
