.footer
	width 100%
	height 100vh
	background url(../images/fashion_films.jpg) center no-repeat
	background-size cover
	text-align center
	p,
	span
		font 400 0.875rem Lato
		color #fff
	p
		padding-top 50vh
	span
		display block
		padding-top 25vh
	&__logo
		display inline-block
		margin auto
	&__img
		display none
	&__logo
		width 200px
		height 85px
	&__gif
		width 172px
		height 85px
		margin-right 28px
		
@media screen and (max-width: 480px)
	.footer
		&__img
			display block
			width 97px
			height 28px
			margin auto
			padding-left 7px
		&__logo
			width 106px
			height 52px
		&__gif
			width 90px
			height 52px
			margin-right 16px
