section.jury#jury
	.container
		.row
			.col
				h3 ЖУРІ
		.row.justify-content-between.flex-wrap
			.col-lg-6.col-xl-4
				.jury__person
					.jury__photo(style={background: 'url(images/jury/serussi.jpg) center no-repeat'})
					p.jury__name Бенджамін Серуссі
					p.jury__info фільммейкер
			.col-lg-6.col-xl-4
				.jury__person
					.jury__photo(style={background: 'url(images/jury/montanari.jpg) center no-repeat'})
					p.jury__name Ніколо Монтанарі
					p.jury__info консультант з fashion-фільмів
			.col-lg-6.col-xl-4
				.jury__person
					.jury__photo(style={background: 'url(images/jury/skulski.jpg) center no-repeat'})
					p.jury__name Дарко Скульський
					p.jury__info продюсер, засновник Radioaktive Film
			.col-lg-6.col-xl-4
				.jury__person
					.jury__photo(style={background: 'url(images/jury/nogina.jpg) center no-repeat'})
					p.jury__name Олеся Ногіна
					p.jury__info теле- та кінопродюсер
			.col-lg-6.col-xl-4
				.jury__person
					.jury__photo(style={background: 'url(images/jury/stekolenko.jpg) center no-repeat'})
					p.jury__name Ігор Стеколенко
					p.jury__info режисер, співзасновник Creative BURO
					