section.jury#jury
	.container
		.row
			.col
				h3 ЖУРІ
		.row.justify-content-center.justify-content-xl-between.flex-wrap
			.col-12.col-sm-8.col-md-6.col-xl-4
				.jury__person
					img.jury__photo(src='images/jury/serussi.jpg' alt='Бенджамін Серуссі')
					p.jury__name Бенджамін Серуссі
					p.jury__info фільммейкер
			.col-12.col-sm-8.col-md-6.col-xl-4
				.jury__person
					img.jury__photo(src='images/jury/montanari.jpg' alt='Ніколо Монтанарі')
					p.jury__name Ніколо Монтанарі
					p.jury__info консультант з fashion-фільмів
			.col-12.col-sm-8.col-md-6.col-xl-4
				.jury__person
					img.jury__photo(src='images/jury/skulski.jpg' alt='Дарко Скульський')
					p.jury__name Дарко Скульський
					p.jury__info продюсер, засновник Radioaktive Film
			.col-12.col-sm-8.col-md-6.col-xl-4
				.jury__person
					img.jury__photo(src='images/jury/nogina.jpg' alt='Олеся Ногіна')
					p.jury__name Олеся Ногіна
					p.jury__info теле- та кінопродюсер
			.col-12.col-sm-8.col-md-6.col-xl-4
				.jury__person
					img.jury__photo(src='images/jury/stekolenko.jpg' alt='Ігор Стеколенко')
					p.jury__name Ігор Стеколенко
					p.jury__info режисер, співзасновник Creative BURO
				