.jury
	margin-top 100px
	p
		text-align center
	&__person
		margin-top 60px
		display flex
		flex-direction column
		align-items center
	&__photo
		width 350px
		height 350px
	&__name
		margin-top 30px
		color red
		font 700 1.25rem ptSans
	&__info
		font 400 1.125rem ptSans
		color textColor
		
@media screen and (max-width: 480px)
	.jury
		margin-top 40px
		&__person
			margin-top 30px
		&__photo
			width 270px
			height 270px
			margin auto