.jury
	margin-top 100px
	p
		text-align center
	&__person
		margin-top 60px
	&__photo
		width 100%
		height 350px
	&__name
		margin-top 30px
		color red
		font 700 1.25rem ptSans
	&__info
		margin-top 15px
		font 400 1.125rem ptSans
		color textColor
		
@media screen and (max-width: 480px)
	.jury
		margin-top 40px
		&__person
			margin-top 30px
		&__photo
			max-width 270px
			margin auto