section.news#news
	.container
		h3.news__caption Новини
		.news__list
			.news__item
				.news__wrap
					a.news__header(href='#')
						span.news__date 15/04/2018
						p.news__title FFFK завершив прийом робiт
					.news__description
						p На фестиваль подано більше 800 робіт. Найпопулярнішею категорією стала “Best Fashion Film” з понад 300 заявок.
			.news__item
				.news__wrap
					a.news__header(href='#')
						span.news__date 10/04/2018
						p.news__title BMW названий генеральним спонсором FFFK
					.news__description
						p Бренд BMW відомий своїм стилем, тому невипадково він стає генеральним спонсором фестивалю в 2018 році.
			.news__item
				.news__wrap
					a.news__header(href='#')
						span.news__date 05/04/2018
						p.news__title Головою журі став Томаш Крайцек
					.news__description
						p Всесвітньо відомий фешн-дизайнер очолить журі фестивалю, що обиратиме переможців в трьох конкурсах.
			.news__item
				.news__wrap
					a.news__header(href='#')
						span.news__date 20/12/2018
						p.news__title В Україні відбудеться перший Fashion Film Festival Kyiv
					.news__description
						p FILM.UA спільно з Ukrainian Fashion Week оголошують про заснування Fashion Film Festival Kyiv.
			.news__item
				.news__wrap
					a.news__header(href='#')
						span.news__date 20/12/2018
						p.news__title В Україні відбудеться перший Fashion Film Festival Kyiv
					.news__description
						p FILM.UA спільно з Ukrainian Fashion Week оголошують про заснування Fashion Film Festival Kyiv.
			.news__item
				.news__wrap
					a.news__header(href='#')
						span.news__date 20/12/2018
						p.news__title В Україні відбудеться перший Fashion Film Festival Kyiv
					.news__description
						p FILM.UA спільно з Ukrainian Fashion Week оголошують про заснування Fashion Film Festival Kyiv.			
		button.news__button.button Показати всі новини

