doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(content='' name='description')
		meta(content='' name='keywords')

		link(rel='stylesheet' href='./css/style.css')

		script(defer src='./js/bundle.js')
		
		title Fashion Film Festival Kyiv

	body.page
		include components/header/header
		include components/home/home
		include components/about/about
		include components/news/news
		include components/program/program
		include components/winners/winners
		include components/nominees/nominees
		include components/jury/jury
		include components/gallery/gallery
		include components/partners/partners
		include components/contacts/contacts
		include components/footer/footer
