doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='./css/style.css')
		//- script.
		//- 	var FontAwesomeConfig = {
		//- 		searchPseudoElements: true
		//- 	};
		script(defer src='./js/bundle.js')
		//- script(defer src='./fonts/fontawesome-all.js')
		title Fashion Film Festival Kyiv
		meta(content='' name='description')
		meta(content='' name='keywords')

	body.page
		include components/header/header
		include components/home/home