section.contacts#contacts
	.container
		.row
			.col-12
				h3 Контакти
		.row
			.col-12
				.contacts__wrap.d-flex.flex-column.flex-lg-row
					.contacts__info.d-flex.flex-column.justify-content-around.align-items-center.align-items-lg-start
						a(href='mailto:info@fffkyiv.com') info@fffkyiv.com
						a(href='tel:+380444287647') +380 44 428 76 47
						span Для ЗМІ: 
						a(href='mailto:media@fffkyiv.com') media@fffkyiv.com 
						span Для партнерів: 
						a(href='mailto:partners@fffkyiv.com') partners@fffkyiv.com
						span Місце проведення:
						p Кіностудія FILM.UA, вул. М. Закревського, 22, Київ
					.contacts__map
						#map
	.contacts__divider