section.contacts#contacts
	.container
		.row
			.col-12
				h3 Контакти
		.row
			.col-12
				.contacts__wrap.d-flex.flex-column.flex-lg-row
					.contacts__info.d-flex.flex-column.justify-content-around.align-items-center.align-items-lg-start
						a(href='mailto:info@fffkyiv.com') info@fffkyiv.com
						a(href='tel:+380444287647') +380 44 428 76 47
						span Для ЗМІ: 
						a(href='mailto:media@fffkyiv.com') media@fffkyiv.com 
						span Для партнерів: 
						a(href='mailto:partners@fffkyiv.com') partners@fffkyiv.com
						span Місце проведення:
						p Кіностудія FILM.UA, вул. М. Закревського, 22, Київ
					.contacts__map
						#map
							//- iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1268.7655185503227!2d30.617324401552413!3d50.50568533375451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5102781b5b%3A0x2e8a97651abe9fc5!2zRklMTS5VQSBHcm91cCAo0KTQmNCb0KzQnCDQriDQrdCZKQ!5e0!3m2!1sru!2sua!4v1523541938058" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)